@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
.main-container{
    margin: 0;
    width: 100%;
    overflow: hidden;
    max-width: 612px;
    padding: 0;
    box-sizing: border-box;
    background: rgb(63,94,251);
    overflow: hidden;
    text-align: center;
    background: #000;

}

.imagem{
    /*box-shadow: 0px 57px 12px -7px rgba(0,0,0,0.1);*/
    max-width: 100%;
    height: auto;
    margin: 0;
}

.content{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgb(184, 216, 55) 0%, rgb(0,82,155) 100%);
}

.titulolp{
    text-align: center;
    font-size: 27px;
    display: inline-block;
    padding: 5px;
    color: #fff;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 1px;
}

.paragrafo{
    font-size: 18px;
    text-align: justify;
    padding: 25px;
    color: #fff;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}


.bk-video{
    overflow: hidden;
    margin: 0;
}
video{
width: 100%;
max-width: 612px;
margin: 0;
}

